:root {
	--blue: #2273f8;
}

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all 0.2s linear;
	text-transform: capitalize;
}

*::selection {
	background: var(--blue);
	color: #fff;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

.btn {
	font-size: 2rem;
	padding: 0.7rem 3.5rem;
	border-radius: 5rem;
	color: #fff;
	background: var(--blue);
	margin-top: 1rem;
	box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
	cursor: pointer;
	border: none;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

.btn::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 0%;
	background: #333;
	z-index: -1;
	transition: 0.2s linear;
}

.btn:hover:before {
	left: 0;
	width: 100%;
}

.heading {
	padding: 0.5rem 2rem;
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.1);
	color: var(--blue);
	display: inline-block;
	margin: 1rem 0;
}

.title {
	font-size: 4rem;
	color: #333;
	padding: 0 1rem;
	text-align: center;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 2rem 7%;
	background: var(--blue);
}

header .logo {
	font-size: 2.5rem;
	color: #fff;
}

header .logo i {
	padding: 0 0.5rem;
}

header .navbar ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

header .navbar ul li a {
	font-size: 2rem;
	margin-left: 2rem;
	color: #fff;
	position: relative;
}

header .navbar ul li a::before {
	content: '';
	position: absolute;
	bottom: -0.5rem;
	right: 0;
	width: 0%;
	height: 0.2rem;
	background: #fff;
	transition: 0.2s linear;
}

header .navbar ul li a.active::before,
header .navbar ul li a:hover:before {
	left: 0;
	width: 100%;
}

header #menu {
	font-size: 3rem;
	color: #fff;
	cursor: pointer;
	display: none;
}

.home {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: url(../images/homg-img.png) no-repeat;
	background-size: 140% 85%;
	background-position: top;
	padding: 1.5rem 7%;
	padding-top: 4rem;
}

.home .image {
	flex: 1 1 40rem;
	padding-top: 6rem;
}

.home .image img {
	width: 100%;
}

.home .content {
	flex: 1 1 40rem;
	padding-top: 5rem;
}

.home .content h1 {
	font-size: 4rem;
	color: #fff;
}

.home .content p {
	font-size: 1.8rem;
	color: #fff;
	padding: 5rem 0;
}

.home .content .btn {
	background: #fff;
	color: #333;
}

.home .content .btn:hover {
	color: #fff;
}

.about {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: #333;
	padding: 2rem;
	padding-top: 6rem;
}

.about .image {
	flex: 1 1 40rem;
	text-align: center;
	padding: 4rem 0;
}

.about .image img {
	height: 70vh;
}

.about .content {
	flex: 1 1 40rem;
}

.about .content h3 {
	font-size: 4rem;
	color: #fff;
}

.about .content .heading {
	background: rgba(0, 0, 0, 0.3);
}

.about .content p {
	font-size: 1.5rem;
	color: #eee;
	padding: 1rem 0;
}

.about .content ul li {
	list-style: none;
	font-size: 2rem;
	color: #fff;
	padding: 0.5rem 0;
}

.about .content ul li i {
	color: var(--blue);
}

.features {
	min-height: 100vh;
	text-align: center;
	padding-top: 7rem;
}

.features .description {
	padding: 1rem 0;
	margin: 0 auto;
	width: 70rem;
	color: #666;
	font-size: 1.5rem;
}

.features .box-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.features .box-container .box {
	margin: 2rem;
	width: 28rem;
	z-index: 0;
	position: relative;
}

.features .box-container .box::before {
	content: '';
	position: absolute;
	top: 32.5%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: var(--blue);
	height: 10rem;
	width: 10rem;
	z-index: -1;
	box-shadow: 0 0 0 1rem rgba(0, 0, 255, 0.1);
}

.features .box-container .box i {
	color: #fff;
	font-size: 4.5rem;
	margin: 8rem 0;
}

.features .box-container .box h3 {
	color: #333;
	font-size: 2rem;
}

.features .box-container .box p {
	color: #666;
	font-size: 1.2rem;
	padding: 1rem 0;
}

.product {
	min-height: 100vh;
	text-align: center;
	background: #eee;
	padding-top: 8rem;
}

.product .box-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem 0;
}

.product .box-container .box {
	margin: 1rem;
	background: #fff;
	box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
	padding: 2rem 4rem;
}

.product .box-container .box h3 {
	padding: 1rem 0;
	font-size: 2rem;
	color: #444;
}

.product .box-container .box .price {
	padding: 1rem 0;
	font-size: 3rem;
	color: #333;
	display: block;
}

.product .box-container .box img {
	height: 20rem;
	width: 20rem;
	margin: 1rem 0;
}

.contact {
	min-height: 100vh;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../images/background.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 1rem;
	padding-top: 8rems;
}

.contact .heading {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.contact .title {
	color: #fff;
}

.contact form {
	width: 85%;
	margin: 1rem auto;
}

.contact form .inputBox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact form .inputBox input,
.contact form textarea {
	height: 4rem;
	width: 49%;
	padding: 0 1rem;
	margin: 1rem 0;
	font-size: 2rem;
	border: 0.2rem solid #eee;
	background: none;
	text-transform: none;
	color: #fff;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
	color: #ccc;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
	border-color: var(--blue);
}

.contact form textarea {
	height: 20rem;
	width: 100%;
	padding: 1rem;
	resize: none;
}

.contact form .btn:hover {
	background: #fff;
	color: #333;
}

.faq {
	text-align: center;
	padding: 0.5rem;
	padding-top: 8rem;
	min-height: 100vh;
}

.faq .row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.faq .row .images {
	flex: 1 1 40rem;
	padding: 0.5rem;
}

.faq .row .images img {
	height: 65vh;
	width: 100%;
}

.faq .row .accordion-container {
	flex: 1 1 40rem;
	padding: 1rem;
}

.faq .row .accordion-container .accordion {
	text-align: left;
	padding: 0.5rem 0;
}

.faq .row .accordion-container .accordion .accordion-heading {
	color: #fff;
	background: var(--blue);
	padding: 1rem;
	font-size: 1.8rem;
	cursor: pointer;
}

.faq .row .accordion-container .accordion .accordion-content {
	color: #333;
	padding: 1rem;
	font-size: 1.3rem;
	border: 0.2rem solid var(--blue);
	display: none;
}

.faq .row .accordion-container .accordion:nth-child(2) .accordion-content {
	display: block;
}

.footer {
	background: #eee;
}

.footer .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer .box-container .box {
	flex: 1 1 30rem;
	margin: 2rem;
}

.footer .box-container .box h3 {
	font-size: 2.5rem;
	color: var(--blue);
}

.footer .box-container .box p {
	font-size: 1.5rem;
	color: #333;
	padding: 1rem 0;
}

.footer .box-container .box p i {
	padding: 0 0.5rem;
	color: var(--blue);
}

.footer .box-container .box:nth-child(2) {
	text-align: center;
}

.footer .box-container .box a {
	font-size: 1.8rem;
	display: block;
	color: #333;
	padding: 0.5rem;
}

.footer a:hover {
	text-decoration: underline;
}

.footer .credit {
	padding: 2rem 1rem;
	text-align: center;
	background: #333;
	color: #eee;
	font-size: 2rem;
}

.footer .credit a {
	color: #fff;
}

/* media queries */

@media (max-width: 768px) {
	html {
		font-size: 55%;
		overflow-x: hidden;
	}

	header #menu {
		display: block;
	}

	header .navbar {
		position: fixed;
		top: -120%;
		left: 0;
		width: 100%;
		background: #fff;
		opacity: 0;
	}

	header .navbar ul {
		padding: 2rem 0;
		flex-flow: column;
		justify-content: center;
	}

	header .navbar ul li a {
		font-size: 2.5rem;
		color: #333;
		display: block;
		margin: 1rem 0;
	}

	header .navbar ul li a ::before {
		background: #333;
	}

	.fa-times {
		transform: rotate(180deg);
	}

	header .navbar.nav-toggle {
		top: 7.4rem;
		opacity: 1;
	}

	.home .content {
		text-align: center;
	}

	.features .description {
		width: auto;
		padding: 1rem;
	}

	.contact form {
		width: 95%;
	}
}

@media (max-width: 500px) {
	html {
		font-size: 50%;
	}

	.home .content h1 {
		font-size: 3.5rem;
	}

	.about .image img {
		width: 90%;
		height: auto;
	}

	.contact form .inputBox input {
		width: 100%;
	}
}
